$white: #ffffff;
$black: #000000;

$dark-blue: #222831;
//$blue: #30475e;
$blue: #506e8d;
$light-blue: #dcf2f1;
$extra-light-blue: #eef6f8;

$light-grey: #f2f2f7;
$light-grey-active: #d9d9d9;
$grey: #4b555a;
$dark-grey: #2c2c2e;

$extra-dark-turquoise: #023637;
$dark-turquoise: #066a6f;
$turquoise: #76abae;
$light-turquoise: #caf0f8;

$extra-dark-red: #b00020;
$dark-red: #e83e53;
$red: #ff6f89;
$light-red: #fbd3d3;

$green: #4dc78a;
$dark-green: #2a8f6a;
$light-green: #d2f1e2;

$yellow: #e5c33e;
$dark-yellow: #cfa603;
$light-yellow: #efdd94;

$primary-xxx-dark: #312217;
$primary-xx-dark: #9b8161;
$primary-x-dark: #bfa27e;
$primary-dark: #d5b589;
$primary: #e8dac5;
$primary-light: #ede3d4;
$primary-extra-light: #f2ece3;
