@import "../../styles/color.module.scss";

.header-item {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-item-icon {
  color: $white !important;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  &:hover {
    background-color: $blue;
  }
}
