@import "../../styles/Color.module.scss";
@import "../../styles/Text.module.scss";

.footer-pages {
  background-color: $primary-xx-dark;
  height: 200px;
  margin-top: auto;

  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  align-items: center;
}

.footer-item {
  @extend .subheading;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  font-size: 24px;
}

.footer-end {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: $primary-xxx-dark;
  color: $primary-light;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}
